@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Resim Buraya Eklendi -->
    <div class="mb-4">
        <img src="~/imgs/BirFikrimVar.jpeg" alt="Bir Fikrim Var Logo" class="img-fluid" style="max-width: 500px;" />
    </div>

    
</div>